a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #db7093;
  text-decoration: underline overline;
}


#contenitore {
  position:absolute;
  top: 0vh;
  left: 55vh;
  width: 100vh;
  height: 100vh;
  z-index: 0;
}

#mask {
  position: absolute;
  top: 0vh;
  left: 0vh;
  background-color: white;
  width: 250vh;
  height: 6vh;
  animation: sciao 1s linear;
  animation-iteration-count: 1; 
  animation-delay: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes sciao {
  from { top: 0vh;}
  to {top: -20vh; }
}
  
  
@keyframes scivola {
  0% {left: -40%;
  height: 95vh;
  border-radius: 16%;
  opacity: 0.5;}
  50% {left: -16%;
  height: 95vh;
  border-radius: 16%;
  opacity: 1;}
  100% {left: 8%;
  height: 160vh;
  border-radius: 0%;
  opacity: 1;}
}


.rett {
  position: absolute;
  width: 80vh;
  height: 100vh;
  background-color: #fff0f5;
  z-index: -1;
  border-radius: 16%;
  animation: scivola 1s linear;
  animation-fill-mode: forwards;
}

p {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
   z-index: 1;
   position: relative;
   top: 8vh;
   left: 53vh;
   transform: translate(-50%,-50%);
}

#ab {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  font-size: 10vh;
  left: 55vh; 
}

#ab:hover {
  color: pink;
}


#lu {
  font-size: 3.8vh;
  position: relative;
  top: 30vh;
  left: 35vh;
  width: 70vh;
}

.ffoto {
  height: 90vh;
  position: absolute;
  top: 48vh;
  left: 25vh;
  z-index: -1;
  animation: compare 2s linear;
  animation-fill-mode: forwards;
}

@keyframes compare {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

.sin {
  height: 50vh;
  position: absolute;
  left: 32vh;
  z-index: -1;
}

#su {
  top: 8vh;
  animation: china 10s linear;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes china {
0% {opacity: 0;}
45% {opacity: 50;}
50% {opacity: 100;}
75% {opacity: 50;}
100% {opacity: 0;}
}

#giu {
  height: 80vh;
  top: 50vh;
  left: 132vh;
  animation: fra 20s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -10s;
}

@keyframes fra {
0% {opacity: 0;}
45% {opacity: 50;}
50% {opacity: 100;}
75% {opacity: 50;}
100% {opacity: 0;}
}

#liri {
  position: absolute;
  height: 110vh;
  top: 10vh;
  left: -20vh;
  animation: lirica 15s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  z-index: -1;
}

#cicci {
  position: absolute;
  height: 72vh;
  top: 0vh;
  left: 148vh;
  animation: lirica 15s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  z-index: -1;
}

@keyframes lirica {
0% {opacity: 0;}
45% {opacity: 0;}
50% {opacity: 100;}
75% {opacity: 100;}
100% {opacity: 0;}
}


#coll {
  position: absolute;
  height: 60vh;
  top: 10vh;
  left: 140vh;
  animation: lirica 15s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -4s;
  z-index: -1;
}

#back {
  position: absolute;
  top: 4vh;
  left: 20vh;
  margin-top: 1vh;
  width: 30vh;
  height: 4vh;
  border: 2px black solid;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 3vh;
  font-weight:bold;
  z-index: 2;
}
