a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

#opa {
  opacity: 0.5;
}
#contenitore {
 transform: translate(-50%,-50%);
    position: absolute;
    top: 50vh;
    left: 100vh;
    width: 100vh;
    height: 100vh;
    z-index: 0;
}


  
@keyframes scivola {
  0% {left: -40%;
  height: 95vh;
  border-radius: 16%;
  opacity: 0.5;}
  50% {left: -16%;
  height: 95vh;
  border-radius: 16%;
  opacity: 1;}
  100% {left: 8%;
  height: 160vh;
  border-radius: 0%;
  opacity: 1;}
}


.rett {
  position: absolute;
  width: 80vh;
  height: 100vh;
  background-color: none;
  z-index: -1;
  border-radius: 16%;
  animation: scivola 1s linear;
  animation-fill-mode: forwards;
}

p {
   font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: bolder;
   z-index: 1;
   position: relative;
   top: 8vh;
   left: 53vh;
   transform: translate(-50%,-50%);
}

#ab {
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
  font-size: 10vh;
  left: 55vh; 
}

#ab:hover {
  color: #8b0000;
}


#lu {
  font-size: 3.8vh;
  position: relative;
  top: 27vh;
  left: 35vh;
  width: 70vh;
}

.ffoto {
  height: 90vh;
  position: absolute;
  top: 58vh;
  left: 25vh;
  z-index: -1;
  animation: compare 2s linear;
  animation-fill-mode: forwards;
}

@keyframes compare {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

.sin {
  height: 43vh;
  position: absolute;
  left: 28vh;
  z-index: -1;
}

#su {
  top: 7vh;
  animation: china 10s linear;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes china {
0% {opacity: 0;}
45% {opacity: 50;}
50% {opacity: 100;}
75% {opacity: 50;}
100% {opacity: 0;}
}

#giu {
  height: 80vh;
  top: 50vh;
  left: 132vh;
  animation: fra 20s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -10s;
}

@keyframes fra {
0% {opacity: 0;}
45% {opacity: 50;}
50% {opacity: 100;}
75% {opacity: 50;}
100% {opacity: 0;}
}

#liri {
  position: absolute;
  height: 110vh;
  top: 10vh;
  left: -20vh;
  animation: lirica 15s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  z-index: -1;
}

#cicci {
  position: absolute;
  height: 72vh;
  top: -5vh;
  left: 148vh;
  animation: lirica 15s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  z-index: -1;
}

@keyframes lirica {
0% {opacity: 0;}
45% {opacity: 0;}
50% {opacity: 100;}
75% {opacity: 100;}
100% {opacity: 0;}
}


#coll {
  position: absolute;
  height: 60vh;
  top: 1vh;
  left: 140vh;
  animation: lirica 15s linear;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -4s;
  z-index: -1;
}

#back {
  background-color: black;
  position: absolute;
  top: 4vh;
  left: 20vh;
  margin-top: 1vh;
  width: 30vh;
  height: 4vh;
  border: 0px black solid;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 3vh;
  font-weight:bold;
  z-index: 2;
}

#back:hover {
  background-color: #8b0000;
}
  
