body {
  background-color: white;
}

#mela {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.caratt {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  left: 19%;
  top: 88vh;
}

.grana {
  background-color: #dc143c;
}

.camb {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #ff8c00;
  position: absolute;
  left: 15%;
  top: 95vh;
  z-index: 2;
}

.perr {
  width: 10vh;
  height: 10vh;
}

.piu {
  width: 5vh;
  height: 5vh;
}

#pera {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#kiwi {
  background-color: #adff2f;
}

.chan {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  left: 9%;
  top: 88vh;
}

.ge {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#cocco {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #a0522d;
}

.ju {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  position: absolute;
  right:20%;
  top: 22vh;
}

.ju:hover {
top: 20vh;
  left: 157vh;
}

.manji {
  background-color: #dc143c;
}

.kill {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #ff8c00;
  position: absolute;
  right:18%;
  top: 30vh;
  z-index: 2;
}


.bill {
  width: 8vh;
  height: 11vh;
}

.bill:hover {
  width: 12vh;
  height: 15vh;
  }

.piu {
  width: 5vh;
  height: 5vh;
}



#uva  {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #ffa500;
}

#mango {
  background-color: #b22222;
}

.iron {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  right: 24%;
  top: 30vh;
}

.man {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.ner {
  animation: kambio 2s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes kambio {
  from {opacity: 100;}
  to {opacity: 0;}
  }

a {
  color: #8b0000;
  text-decoration : none;
}

a:visited {
  color: #8b0000;
  text-decoration : none;
}

a:hover {
  color: #4169e1;
  text-decoration: overline;
}

h1 {
font-size: 8vh;
position: absolute;
font-family: 'Barlow Semi Condensed', sans-serif;
font-weight: lighter;
top: 41vh;
left: 50%;
  transform:translate(-50%,-50%);
}

h2 {
  font-size: 30px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 38vh;
  left: 50%;
}

h3 {
  position:relative;
  left: 50%;
  font-size: 10vh;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  margin-top: 20vh;
  transform: translate(-50%,-50%);
}
h4 {
  position: relative;
  left: 50%;
  font-size: 5vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: lighter;
  margin: 6vh;
  margin-bottom: 10vh;
  transform:translate(-50%,-50%);

}

h6 {
  position: relative;
  font-size: 5vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: lighter;
  margin-top: 53vh;
  transform: translate(-50%,-50%);
    left: 50%;

}

#container {
  position: absolute;
  width: 65vh;
top: 56vh;
left: 50%;
transform: translate(-50%, -50%);
}

p {
  font-size: 4vh;
  border: 0px solid black;
  margin: 1vh;
  padding: 0vh;
  display: inline;
}

.con {
  position: relative;
  top: 50vh;
  font-size: 10vh;
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
  transform: translate(-50%,-50%);
}

#quadratino {

  background-color: black;
  height: 1.3vh;
width: 1.3vh;
position: absolute;
  top: 18vh;
display: inline;
animation: rotola 2.5s linear;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

#app {
  position: absolute;
  top: 75%;
  left: 36%;
  opacity: 0;
  z-index: 1;
  font-size: 100%;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  animation: unt 5s linear;
  animation-iteration-count: 3;
  animation-delay: 7s;

}

h5 {
  font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  margin-bottom:  1vh;
}

.spar {
background-color: #6b8e23;
}



.secondo {
  left: 50%;
}

.terzo {
  left: 25%;
}

.quarto {
  left: 75%;
}

.quinto {
  left: 100%;
}



 #quadratone {
   border: 0px solid black;
   height: 20vh;
 width: 26vh;
   position: absolute;
   top: 32vh;
   animation: spostamento 2s linear;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;

 }

#partesotto {
    position: absolute;
    left: 50%;
  top: 250vh;
  transform: translate(-50%, -50%);
  }


.apparizione {
  transform: translate(-50%, -50%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  	font-weight: lighter;
    animation: cambiocolore 3s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 1;
  padding: 0.5vh;
}


.lenta {
  animation: cambiocolore 4s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
  font-family: 'Cabin', sans-serif;
  font-size: 3.2vh;
  font-weight: bold;
}

.testadx {
   height: 125vh;
  position: absolute;
  top: 0vh;
  right: 0vh;
  animation: su 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}


.testasx {
   height: 125vh;
  position: absolute;
  top: 0vh;
  left: -12vh;
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

.lato {
   height: 52vh;
  position: absolute;
  top: 59vh;
  left: 118vh;
  animation: cambiocoloredopo 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 2;
}


.cima {
   height: 40vh;
  position: absolute;
  top: 0vh;
  left: 72vh;
  animation: cambiocoloredopo 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}



.basso {
  height: 43vh;
  position:absolute;
  top: 10vh;
  left: 144vh;
  animation: cambiocoloreprima 4s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

.bassx {
  height: 50vh;
  position:absolute;
  top: 52vh;
  left: 38vh;
  animation: cambiocoloreprima 4s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

.alto {
  height: 40vh;
position: absolute;
top: 16vh;
left: 18vh;
animation: cambiocoloredopo 3.5s linear;
animation-iteration-count: 1;
animation-fill-mode: forwards;
z-index: -1;
}

@keyframes su {
  0% {opacity: 0;
  }
  85% {opacity: 0;
  }
  100% {opacity: 100;
  }
}

@keyframes giu {
  0% {opacity: 0;
  }
  85% {opacity: 0;
  }
  100% {opacity: 100;
  }
}

@keyframes unt {
  0% {opacity: 0;
  }
  50% {opacity: 1;
  }
  100% {opacity: 0;
  }
}
@keyframes whit {
  0% {opacity: 100;
  }
  99% {opacity: 100;}
  100% {opacity: 0;
  }
}

@keyframes cambiocolore {
  0% {opacity: 0;
  }
  100% {opacity: 100;
  }
}

@keyframes cambiocoloreprima {
  0% {opacity: 0;
  }
  10% {opacity: 0;
  }
  70% {opacity: 100;
  }
  100% {opacity: 0;
  }
}

@keyframes cambiocoloredopo {
  0% {opacity: 0;
  }
  35% {opacity: 20;
  }
  50% {opacity: 100;
  }
  70% {opacity: 100;
  }
  100% {opacity: 0;
  }
}

@keyframes rotola {
  0% {transform: rotate(0deg);
  }
  100% {transform: rotate(360deg);}
}

@keyframes spostamento {
  0% {transform: translate(-50%, -50%);
  top: 32vh;
left: 120%;}
100% {transform: translate(-50%, -50%);
top: 32vh;
left: 50%;}
}
