body {
  background-color: white;
}

#mela {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.caratt {
  width: 5%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  left: 25%;
  top: 88%;
}

.grana {
  background-color: #dc143c;
}

.camb {
  width: 5%;
  height: 10%;
  border-radius: 50%;
  background-color: #ff8c00;
  position: absolute;
  left: 20%;
  top: 95%;
  z-index: 2;
}

.perr {
  width: 70px;
  height: 70px;
}

.piu {
  width: 30px;
  height: 30px;
}

#pera {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#kiwi {
  background-color: #adff2f;
}

.chan {
  width: 5%;
  height: 10%;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 88%;
}

.ge {
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ner {
  animation: kambio 2s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes kambio {
  from {opacity: 100;}
  to {opacity: 0;}
  }

a {
  colro: black;
}

a:visited {
  color: #6495ed;
}

a:hover {
  color: #2e8b57;
  text-decoration:overline;
}

h1 {
font-size: 400%;
position: absolute;
top: 38%;
left: 50%;
}

h2 {
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 38vh;
  left: 50%;
}

h3 {
  position:relative;
  left: 43%;
  font-size: 340%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
  margin: -4%;
}
h4 {
  position: relative;
  left: 0%;
  font-size: 175%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 6%;
  margin-bottom: 10%;

}

h6 {
  position: relative;
  font-size: 220%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 40%;

}

#container {
  position: absolute;
  width: 30%;
top: 56%;
left: 50%;
transform: translate(-50%, -50%);
}

p {
  font-size: 150%;
  border: 0px solid black;
  margin: 2%;
  padding: 1%;
  display: inline;
}

.con {
  position: relative;
  top: 200px;
  font-size: 60px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 800;
}

#quadratino {

  background-color: black;
  height: 7%;
width: 5%;
position: absolute;
  top: 60%;
display: inline;
animation: rotola 2.5s linear;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

#app {
  position: absolute;
  top: 75%;
  left: 36%;
  z-index: 1;
  font-size: 100%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  animation: unt 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
  animation-delay: 7s;

}

#masch {
  position: absolute;
  top: 75%;
  left: 36%;
  width: 20%;
  height: 30%;
  background-color: white;
  animation: whit 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
z-index: 2;
}
h5 {
  font-size: 140%;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-bottom:  1%;
}

.spar {
background-color: #6b8e23;
}


.secondo {
  left: 50%;
}

.terzo {
  left: 25%;
}

.quarto {
  left: 75%;
}

.quinto {
  left: 100%;
}



 #quadratone {
   border: 0px solid black;
   height: 20%;
 width: 13%;
   position: absolute;
   top: 70%;
   animation: spostamento 2s linear;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;

 }

#partesotto {
    position: absolute;
    left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
  }


.apparizione {
  transform: translate(-50%, -50%);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 510;
  	line-height: 26.4px;
    animation: cambiocolore 3s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 1;
}


.lenta {
  animation: cambiocolore 4s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
  font-weight: 900;
}

.testadx {
   height: 130%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  animation: su 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}


.testasx {
   height: 130%;
  position: absolute;
  top: 0%;
  left: 0%;
  animation: giu 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

.lato {
   height: 30%;
  position: absolute;
  top: 50%;
  left: 64%;
  animation: cambiocoloredopo 3s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}



.basso {
  height: 30%;
  position:absolute;
  top: 0%;
  left: 65%;
  animation: cambiocoloreprima 4s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

.bassx {
  height: 30%;
  position:absolute;
  top: 42%;
  left: 13%;
  animation: cambiocoloreprima 4s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

.alto {
  height: 30%;
position: absolute;
top: 5%;
left: 10%;
animation: cambiocoloredopo 3.5s linear;
animation-iteration-count: 1;
animation-fill-mode: forwards;
z-index: -1;
}

@keyframes su {
  0% {opacity: 0;
  }
  85% {opacity: 0;
  }
  100% {opacity: 100;
  }
}

@keyframes giu {
  0% {opacity: 0;
  }
  85% {opacity: 0;
  }
  100% {opacity: 100;
  }
}

@keyframes unt {
  0% {opacity: 0;
  }
  25% {opacity: 100;
  }
  50% {opacity: 0;
  }
  85% {opacity: 100;
  }
  100% {opacity: 0;
  }
}
@keyframes whit {
  0% {opacity: 100;
  }
  99% {opacity: 100;}
  100% {opacity: 0;
  }
}

@keyframes cambiocolore {
  0% {opacity: 0;
  }
  100% {opacity: 100;
  }
}

@keyframes cambiocoloreprima {
  0% {opacity: 0;
  }
  10% {opacity: 0;
  }
  70% {opacity: 100;
  }
  100% {opacity: 0;
  }
}

@keyframes cambiocoloredopo {
  0% {opacity: 0;
  }
  35% {opacity: 20;
  }
  50% {opacity: 100;
  }
  70% {opacity: 100;
  }
  100% {opacity: 0;
  }
}

@keyframes rotola {
  0% {transform: rotate(0deg);
  }
  100% {transform: rotate(360deg);}
}

@keyframes spostamento {
  0% {transform: translate(-50%, -50%);
  top: 34%;
left: 100%;}
100% {transform: translate(-50%, -50%);
top: 34%;
left: 50%;}
}
