body {
  background-color: white;
}


a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #5f9ea0;
  text-decoration: underline overline;
}

h1 {
  font-size: 10vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  position: absolute;
  top: 4vh;
  left: 90vh;
}

h1:hover {
  color: #778899;
}

h2 {
  position: absolute;
  top: 17vh;
  left: 85vh;
  z-index: 1;
  font-size: 3.5vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  animation: scr 4s linear;
  animation-iteration-count: 3;
  animation-fill-mode:forwards;
  animation-delay: 0s;
}

@keyframes scr {
  0% {opacity:100;}
25% {opacity:0;}
50% {opacity:100;}
100% {opacity:0;}
}

.foto {
  height: 280px;
}

.fuete {
  height: 260px;
}

p {
  padding: 2vh;
  margin:2vh;
}

#container {
  position: absolute;
  width: 300vh;
  top: 22vh;
  left: 0vh;
margin: 0vh;
animation: scorri 30s linear;
animation-iteration-count: infinite;
}

@keyframes scorri {
  0% {position: absolute;
  left: 0vh;}
  50% {position: absolute;
  left: -70vh;}
  100% {position: absolute;
  left: 0vh;
}
}

#cesta {
  position: absolute;
  width: 400vh;
  top: 69vh;
  left: 0vh;
animation: scorre 30s linear;
animation-iteration-count: infinite;
}

@keyframes scorre {
  0% {position: absolute;
  left: -90vh;}
  50% {position: absolute;
  left: -2vh;}
  100% {position: absolute;
  left: -90vh;
}
}

.spe {
  width: 100vh;
  height: 100vh;
  position:absolute;
  top: 150vh;
  left: 10vh;
}


.photo {
  height: 700px;
}


.texto {
  font-size: 6vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  position: absolute;
  right: 1vh;
  padding: 50vh;
  display: inline;
  width: 50vh;
  height: 10vh;
}


#prima {
  top: 140vh;
}
#seconda {
  top: 280vh;
}
#terza {
  top: 390vh;
}
#quarta {
  top: 520vh;
}
#quinta {
  top: 630vh;
}
#sesta {
  top: 760vh;
}
#settima {
  top: 860vh;
}
#ottava {
  top: 1000vh;
}
#nona {
  top: 1110vh;
}
#decima {
  top: 1250vh;
  left: 130vh;
}
#undicesima {
  top: 1370vh;
  left: 130vh;
}
#dodicesima {
  top: 1470vh;
  left: 130vh;
}
#tredicesima {
  top: 1600vh;
  left: 130vh;
}
#quattordicesima {
  top: 1720vh;
  left: 130vh;
}


.strisce {
  width: 100vh;
  height: 1.5vh;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

#rosso {
  background-color: #f0fff0;
  top: 5%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

#rosso2 {
  background-color: #e0ffff;
  top: 5%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.8s;
}

#blu {
  background-color: #f0fff0;
  top: 5%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}

#bluscuro {
  background-color: #e0ffff;
  top: 22%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.6s;
}

#blu3 {
  background-color: #f0f8ff;
  top: 10%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#blu4 {
  background-color: #e6e6fa;
  top: 16%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.3s;
}

#blu5 {
  background-color:#e6e6fa;
  top: 22%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
}

#blu6 {
  background-color: 	#f0f8ff;
  top: 18%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

#blu7 {
  background-color:	#e6e6fa;
  top: 22%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

#blu8 {
  background-color: #e6e6fa;
  top: 16%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}


#blu9 {
  background-color:	#d3d3d3;
  top: 10%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.6s;
}



@keyframes corri {
  0% {left: -90vh;}
  100% {left: 220vh;
    }
  }

  #back {
    position: absolute;
    top: 2vh;
    left: 1.7vh;
    margin-top: 1vh;
    width: 30vh;
    height: 4vh;
    border: 2px black solid;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 3vh;
    font-weight:bold;
    padding:0px;
  }
