body {
  background-color: white;
}

#partealta {
  position: absolute;
    left: 2vh;
    top: 38vh;
    width: 540vh;
    height: 60vh;
}

#partealta:hover {
 animation: vaai 25s linear;
  animation-iteration-count: infinite;
  
}

.matita {
  height: 14vh;
}

#destra {
  top: 8vh;
    right: 50vh;
    position: absolute;
}

.macchinafoto {
  height: 14vh;
}
#destra2 {
  top: 8vh;
    right: 50vh;
    position: absolute;
}

#sinistra {
  top: 8vh;
  left: 47vh;
  position: absolute;
  transform: rotate(-10deg);
}
#sinistra2 {
  top: 8vh;
  left: 47vh;
  position: absolute;
  transform: rotate(-10deg);
}

.schizzi {
  opacity: 0;
}

.star {
  height: 15vh;
}

.scuro {
  opacity: 1;
}


@keyframes vaai {
  0% {left: 2vh;}
  50% {left: -330vh}
  100% {left: 2vh;}
}

#partealta2 {
  position: absolute;
    left: -230vh;
    top: 98vh;
    width: 540vh;
    height: 60vh;
}

#partealta2:hover {
  animation: viaa 25s linear;
  animation-iteration-count: infinite;
  
}

@keyframes viaa {
  0% {left: -230vh;}
  50% {left: 2vh}
  100% {left: -230vh;}
}

#speciale {
  padding: 0vh;
    margin: 0vh;
}

#partebassa {
  position: absolute;
    left: 0vh;
    bottom: -220vh;
    width: 100vh;
    height: 150vh;
}


.fiore {
  height: 56vh;
    width: 45vh;
  border: 0px solid #000;
}

.dettagli {
    height: 55vh;
}



a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 12vh;
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 4vh;
  left: 100vh;
  transform: translate(-50%,-50%);
}

h1:hover {
  color: #8b0000;
}

h2 {
  font-size: 5vh;
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 25vh;
    left: 100vh;
    transform: translate(-50%,-50%);
  color: black;
}

.filo {
  color: #8b0000;
   animation: dark 3s linear;
  animation-iteration-count: infinite;

  }
.filo:visited {
 color: #8b0000;
   animation: dark 3s linear;
  animation-iteration-count: infinite;

}

h3 {

 font-size: 3vh;
  font-family: 'Cabin', sans-serif;
  
}
#sottotitolo {
  position: absolute;
    left: 100vh;
    top: 20vh;
    z-index: 1;
    transform: translate(-50%,-50%);
}
  

#rain {
  top: 27vh;
}

#strisciolone {
  position:relative;
  top: -3vh;
  width: 310vh;
  height: 85vh;
  left: 0vh; 
}
  

@keyframes dark {
  0% {opacity: 0;}
 10% {opacity: 1;}
  50% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes scr {
  0% {opacity:100;}
25% {opacity:0;}
50% {opacity:100;}
100% {opacity:0;}
}

.foto {
  height: 270px;
  z-index: 0;
}

.foto:hover {
  position: absolute;
  transform: translate{-50%, -50%};
  height: 80vh;
  animation: none;
  z-index: 2;
}

.fuete {
  height: 250px;
  z-index: 0;
}

.fuete:hover {
  position: absolute;
  transform: translate{-50%, -50%};
  height: 80vh;
  animation: none;
  z-index: 2;
  bottom: 0vh;
}

p {
  padding: 2vh;
  margin:2vh;
}

#container {
  position: absolute;
  width: 300vh;
  top: 38vh;
  left: 0vh;
margin: 0vh;
animation: scorri 7s linear;
animation-iteration-count: infinite;
}

@keyframes scorri {
  0% {position: absolute;
  left: -2vh;}
  50% {position: absolute;
  left: -13vh;}
  100% {position: absolute;
  left: -2vh;
}
}

#cesta {
  position: absolute;
  width: 400vh;
  top: 82vh;
  left: 0vh;
animation: scorre 6s linear;
animation-iteration-count: infinite;
}

@keyframes scorre {
  0% {position: absolute;
  left: -2vh;}
  50% {position: absolute;
  left: -22vh;}
  100% {position: absolute;
  left: -2vh;
}
}

.spe {
  width: 100vh;
  height: 100vh;
  position:absolute;
  top: 150vh;
  left: 10vh;
}


.photo {
  height: 700px;
}


.texto {
  font-size: 6vh;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  position: absolute;
  right: 1vh;
  padding: 50vh;
  display: inline;
  width: 50vh;
  height: 10vh;
}


#prima {
  top: 140vh;
}
#seconda {
  top: 280vh;
}
#terza {
  top: 390vh;
}
#quarta {
  top: 520vh;
}
#quinta {
  top: 630vh;
}
#sesta {
  top: 760vh;
}
#settima {
  top: 860vh;
}
#ottava {
  top: 1000vh;
}
#nona {
  top: 1110vh;
}
#decima {
  top: 1250vh;
  left: 130vh;
}
#undicesima {
  top: 1370vh;
  left: 130vh;
}
#dodicesima {
  top: 1470vh;
  left: 130vh;
}
#tredicesima {
  top: 1600vh;
  left: 130vh;
}
#quattordicesima {
  top: 1720vh;
  left: 130vh;
}


.strisce {
  width: 100vh;
  height: 1.5vh;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

#rosso {
  background-color: #8b0000;
  top: 5%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

#rosso2 {
  background-color: #ffdab9;
  top: 5%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.8s;
}

#blu {
  background-color: #ffdab9;
  top: 5%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}

#bluscuro {
  background-color: #ffdab9;
  top: 22%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.6s;
}

#blu3 {
  background-color: #8b0000;
  top: 10%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

#blu4 {
  background-color: #8b0000;
  opacity: 0.5;
  top: 16%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.3s;
}

#blu5 {
  background-color:#ffdab9;
  top: 22%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.7s;
}

#blu6 {
  background-color: #f5deb3;
  top: 18%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
}

#blu7 {
  background-color:	#ffdab9;
  top: 22%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}

#blu8 {
  background-color: #8b0000;
  opacity: 0.6;
  top: 16%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.2s;
}


#blu9 {
  background-color:	#f5deb3;
  top: 10%;
  animation: corri 3s linear;
  animation-iteration-count: infinite;
  animation-delay: 1.6s;
}



@keyframes corri {
  0% {left: -90vh;}
  100% {left: 220vh;
    }
  }

  #back {
    position: absolute;
    top: 2vh;
    left: 1.7vh;
    margin-top: 1vh;
    width: 30vh;
    height: 4vh;
    border: opx black solid;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background-color: black;
    font-size: 3vh;
    font-weight:bold;
    padding:0px;
  }

#back:hover {
  background-color: #8b0000;
}
